<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
  <link href="/static/css/style.css" rel="stylesheet">
  <script language ='javascript' type = 'text/javascript'>
<!--function FillFrame(framename){
  theframe = parent[framename];
  theframe.document.open();
  theframe.document.write("<h1> Jia Tang's playground</h1>");
  theframe.document.write("<p> here are all Jia's item lists:");
  theframe.document.write("item1, item2, item3....</p>");
}
-->
</script>
  <style>
.name{
   color:red;
   font-size:40px;
}
  </style>

</head>
<body>
  <h1>Welcome to <span class="name">tjmaxx's</span> homepage</h1>

  <b>This is a test page for <span>ccs</span> learning</b>
  <ul display="inline">
    <li>Image #1 </li>
        <img src = "/static/img/image1.JPG" height = "200" width = "300">
    <li>Image #2 </li>
        <img src = "images/image1.jpg" height = "200" width = "300">
    <li>Image #3 </li>
        <img src = "images/image1.jpg" height = "200" width = "300">
    <li>Image #4 </li>
        <img src = "images/image1.jpg" height = "200" width = "300">
    </ul>>


</body>
</html>